@charset "UTF-8";
/* CSS Document */

body {
	
	background: url(../images/beer_head.jpg) center top repeat-x;
	background-color: #f6cd3c;
	margin: 0 15% 0;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
h1 {
	font-family: 'Special Elite', cursive;
	font-size: 3em;
}
.sitetitle {
	text-align: center;
	
}
.pagetitle {
	font-size: 2em;
	
}

nav > ul {
    list-style-type: none;
    text-align: center;
	padding: 35px 10px 95px;
}
nav > ul > li {
    display: inline;
}
nav > ul > li a{
    color: #faea81;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
    background-color: #000;
	border-radius: 15px;
}
nav > ul > li a:hover{
	background-color: #933615;
    color: #fff;
}
.breweryblock {
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
	margin-bottom: 1.5em;
	width: 30%;
	border: solid #000 1px;
	min-height: 475px;
}
.info {
	margin: 0px 15px 10px 15px;
}
.maplink {
	background-color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    padding: 4px 8px;
    font-weight: bold;
    text-decoration: none;
	
}
.beerimg {
	float: right;
}